
<%- include('../includes/head.ejs') %>

    <title>Store Locator - Add Store</title>
  </head>
  <body>
    <%- include('../includes/navigation.ejs') %>

    <div class="container my-3">

      <form id="store-form" class="mb-4" action="/<% if (editing) { %>edit-store<% } else { %>add-store<% } %>?_csrf=<%= csrfToken %>" method="POST" enctype="multipart/form-data">

        
        <div class="form-group">

          <label for="store-address">Store Address</label>
          <input type="text" id="store-address" class="form-control" name="address" value="<% if (editing) { %><%= store.location.formattedAddress %><% } %>" />
        </div>
        <label for="image">Image</label>
        <input type="file" id="image" name="image" value="<% if (editing) { %><%= store.image %><% } %>"/> 
        <% if (editing) { %>
          <input type="hidden" value="<%= store._id %>" name="storeId">
      <% } %>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">

      <button class="btn" type="submit"><% if (editing) { %>Update Product<% } else { %>Add Product<% } %></button>
        <a href="/" class="btn btn-secondary">Back</a>
      </form>
    </div>

  </body>
</html>