
<%- include('../includes/head.ejs') %>

    <title>Store Locator - Add Store</title>
    <link href="https://api.mapbox.com/mapbox-assembly/v1.3.0/assembly.min.css" rel="stylesheet">
<script id="store-address" defer="" src="https://api.mapbox.com/search-js/v1.0.0-beta.13/web.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">
  </head>
  <body>
    <style>
      .hide {
        display: none;
        }
    </style>
    <%- include('../includes/navigation.ejs') %>

    <div class="container my-3">
      <form id="store-form" action="/<% if (editing) { %>edit-store<% } else { %>add-store<% } %>?_csrf=<%= csrfToken %>" method="POST" enctype="multipart/form-data">
        <div id="geocoder">
          </div>
            <input style = "width:400px" type="hidden" class="form-control" id="address" name="address" placeholder="Add an address"  >       
          </div>
        </div>
        <label for="city"></label>  
        <input type="text" placeholder="city" id="store-city" class="form-control" name="city" value="<% if (editing) { %><%= store.city %><% } %>" />
        <label for="image">Image</label>
        <input type="file" id="image" name="image" value="<% if (editing) { %><%= store.image %><% } %>"/> 
        <% if (editing) { %>
          <input type="hidden" value="<%= store._id %>" name="storeId">
        <% } %>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button type="submit" class="btn btn-primary"><% if (editing) { %>Update Product<% } else { %>Add Product<% } %></button>
      </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
    <script>
      mapboxgl.accessToken = 'pk.eyJ1IjoiaGFycnliYXJjaWEiLCJhIjoiY2s3dzRvdTJnMDBqODNlbzhpcjdmaGxldiJ9.vg2wE4S7o_nryVx8IFIOuQ';

        // Handle form
        const geocoder = new MapboxGeocoder({
          accessToken: mapboxgl.accessToken,
      });

      geocoder.addTo('#geocoder');

      var geocoderResult = {};
      geocoder.on('result', (e) => {
        console.log("result", e.result);
          geocoderResult = e.result, null, 2;
      });

      // Clear results container when search is cleared.
      geocoder.on('clear', () => {
          geocoderResult = {};
      });
      document.getElementById('store-form').addEventListener('submit', (e) => {
          e.preventDefault();
          document.getElementById('address').value = JSON.stringify(geocoderResult.place_name);
          document.getElementById('store-form').submit();
      });

      </script>
  </body>
</html>