<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
    
    <script src="../../utils/fetch_map.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Poppins:wght@400;500;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="https://unpkg.com/@turf/turf@6/turf.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">


<link href="./css/output.css" rel="stylesheet">
</head>
  <body>
    <style>
      
    </style>
      
    
        <div class="flex font-sans">
          <!-- SIDEBAR -->
          <div class="w-1/5 bg-gray-900 h-screen sidebar">
              <!-- LOGO -->
              <div class="flex justify-center pt-8 pb-8 border-b border-b-white">
                <img src="./mapbox-logo-white.svg" class="h-14" />
              </div>
              
              <!-- LOGIN -->
              <div class="mb-6 text-white w-5/6 mx-auto mt-6">
                <ul class="main-header__item-list">
                  <% if (!isAuthenticated) { %>
                      <li class="main-header__item">
                          <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
                      </li>
                      <li class="main-header__item">
                          <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a>
                      </li>
      
                  <% } else { %>
                      <li class="main-header__item">
                          <form action="/logout" method="post">
                              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                              <button type="submit">Logout</button>
                          </form>
                      </li>
                  <% } %>
                </ul>
              </div>
              <!-- HEADING -->
              <h3 class="text-white font-bold  text-center text-3xl mt-8 flex items-center w-full justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                      stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                  </svg>
                  Ajouter un collaborateur
              </h3>

               <!-- ADD EVENT FORM -->
               <form id="store-form" action="/add-store?_csrf=<%= csrfToken %>" method="POST" enctype="multipart/form-data">

                <div class="mb-6 text-white w-5/6 mx-auto mt-12">
                  <label for="city" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Nom et Prénom</label>
                  <input name = "city" type="text" id="city" class="input-field" placeholder="Harry Barcia" required id = "store-city" >
              </div>
               
               <div class="mb-6 text-white w-5/6 mx-auto mt-6" >
                   <label for="geocoder" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Event Address</label>
                   <div id="geocoder">
                     
                   </div>
               </div>
                            
                <div class="mb-6 text-white w-5/6 mx-auto mt-6">
                  <label for="image">Image</label>
                  <input type="file" id="image" name="image" value=""/> 
                </div>
                <div class="w-5/6 mx-auto flex justify-end">
                  <button type="submit" class="submit-button">Add Product</button>
                  
                </div>

               </div>
               <input type="hidden" name="_csrf" value="<%= csrfToken %>">
               </form>
               
               <div id="listings" class="listings"></div>
            <!-- MAP -->
          <div class="h-screen w-full" id="map"></div>
        </div>
      <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
      <script src='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.js'></script>
      <link href='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css' rel='stylesheet' />
      
      <span id='variableJSON' hidden><%= JSON.stringify(prods); %></span>
      <script>
        
        const x = document.createElement("input");
        x.setAttribute("type", "hidden");
        x.setAttribute("value", event.result.place_name);
        x.setAttribute("name", "address");
        const y = document.getElementById("store-form");
        y.appendChild(x);


        
      </script>
      <script src="./js/map.js"></script>
      <script src="js/geolocation.js"></script>
    
  </body>
</html>